@page "{topicName?}"
@model CoreWiki.RazorPages.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Article.Topic</h2>
<h5><b>Last Published: </b><span data-value="@Model.Article.Published" class="timeStampValue">@Model.Article.Published.ToString()</span></h5>

<markdown markdown="Article.Content" />

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.Topic">Edit</a> 
    @if (Model.Article.Topic.ToLower() != "homepage")
    {
        <text>|</text> <a href="~/">Back to Home Page</a>
    }
</div>
